*{
    margin:0;
    padding: 0;
    outline: 0;
}
.clear{
    overflow: hidden;
}
.templet{
    width: 960px;
    
    margin: 0 auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    line-height: normal;

}

.headersection{
    
    background: #c48d29;
    color: black;
}
.headersection h2{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 10px;
}
.menusection {
    background:#1E1E1E;
    height: 40px;
}
.navigaion{
    background: #FFA62F;
}
.menusection h2{
    padding-left: 50px;
    margin-bottom: 10px;
}
.samepost{
    margin: 10px;
}
.sidebar{
    width: 300px;
    background:#FFEBCD ;
    float: right;
    margin-top: 10px;
    border: 1px solid #c48d29 ;
}
.samesidebar{
    padding: 10px;
}
.samesidebar h2{
    background: #EE9A4D;
    padding: 10px;
    color: black;
    margin-bottom: 8px;
    border-bottom: 2px solid black;
}

.navigaion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigaion ul li{
    display: block;
    float: left;
}
.navigaion ul li a{
    display: block;
    background:#FFA62F;
    border: 1px solid #c48d29;
    text-decoration: none;
    padding: 5px 30px;
    margin: 5px;
    color: #444;
    font-size: 20px;
}
.navigaion ul li a:hover{
    background: #c48d29;
    color: white;
}
.maincontain{
    width: 577px;
    background: #FFEBCD;
    float: left;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #c48d29;
}



.samepost p{
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}



.footer{
    background: #c48d29;
}
.footer p{
    text-align: center;
    font-size: 30px;
    color: white;
}