*{
    margin:0;
    padding: 0;
    outline: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    line-height: normal;

}

.headersection{
    width: 100%;
    background: black;
    color: white;
}
.headersection h2{
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
}
.menusection {
    height: 30px;
    background: gray;
}
.menusection h2{
    padding-left: 50px;
}
.maincontain{
    padding: 30px;
    background: #efefef;
    text-align: justify;
    font-size: 20px;
}
.main-contain{
    padding: 20px;
    width: 790px;
    background: #efefef;
    text-align: justify;
    font-size: 20px;
}
.main-contain p{
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 16px;
}
.sidebar{
    float: right;
    font-size: 16px;
    width: 330px;
    height: 100%;
    padding-left: 10px;
    padding: 20px;
    background: #efefef;

}
.samesidebar h2{
    background: gray;
    padding: 10px;
    color: white;
    margin-bottom: 8px;
    border-bottom: 2px solid black;
}
.samesidebar p{

}
.footersection{
    background: gray;
}
.footersection p{
    text-align: center;
    font-size: 30px;
    color: white;
}